* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#fff;
}

:root{

    --main-bg-color: #F5F5F5;
    --main-text-color:#3d424a;
    --datails-color: #F79824;
    --second-color: #2ecc71;
    --highlight-color: #ffffff;
    --footer-color: #57bee6;


}

body * {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;

        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;      
}

body{
    background-color: var(--highlight-color);
    height: 100vh;
}

/*HEADER*/

header{
    height: 110px;
}

header svg{
    margin-top:-70px;
}

/*FIM HEADER*/

/*CARROSSEL*/

.swiper{
    height: 308px;
}

.carrossel-titulo{
    margin-bottom:15px;
}

body .swiper-pagination {
  bottom:0px!important;
}

/*FIM CARROSSEL*/

#container{
        margin: auto;
}

#profile{
        text-align: center;
        width:50%;
        margin:auto;
}

    #profile img{
        width: 204px;
        height: 286px;
        border-radius: 10%;
}

p{
    margin: 15px 0 15px 0;
    color: var(--main-text-color);
}

.giveBackBook{
        padding: 20px;
        border-radius: 5%;
        background-color:var(--main-text-color) ;
        color: white;
}

.giveBackBook:hover{
    background:#151515;
    padding: 21px;
}

footer {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

@media  screen and (max-width: 575px){

    header {
        height: 90px;
    }

    header svg{
        margin-top:0;
    }

    #profile{
        width:80%;
    }

    .carrossel-titulo {
        margin-bottom: 20px;
    }
    
    footer{
        position:relative;
        height: 130px;
    }

    footer svg{
        position: absolute;
        bottom:0;
    }
}